*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 75px;
    cursor: pointer;
}

nav {
    text-align: right;
    flex: 1;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-decoration: underline 0.15em rgb(255, 255, 255, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

nav ul li a:hover{
    text-decoration: underline 0.15em rgb(46, 46, 46);
    text-underline-offset: 0.4em;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color:black;
    font-size: 100px;
}

p{
    color:black;
    font-size: 25px;
    line-height: 30px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    margin-top: 20px;
    background: #fff;
    border: 1;
    border-radius: 20px;
    border-color: #000;
    cursor: pointer;
}

.card{    
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    width: 330px;
    background-image: url(images/Yrt5Ipj-VLo.jpg);
    
}

.col-cards{
    margin-left: 120px
}
/* .card1{
    background-image: url(images/BX0mP9Y5PaM.jpg);

}

.card2{
    background-image: url(images/techies.jpg);
    
}

.card3{
    background-image: url(images/shadow_friend.png);
}

.card4{
    background-image: url(images/shadow_friend.png);
} */

.card:hover{
    transform: translateY(-10px);
}

h5{
    text-shadow: 0px 0px 5px white;
    font-size: 30px;
}

.card p{
text-shadow: 1px 1px 2px white;
font-size: 19px;
}

@media screen and (max-width:1405px) {
    
    h5{
        font-size: 17px;
    }

    .card p{
        text-shadow: 0 0 15px white;
        font-size: 13px;
        line-height: 13px;
        }
    
    .col-cards{
        margin-left: 90px
    }

    .card{
        width: 330px;
        height: 170px;     
        margin: 12px 8px;   
    }

    h1{
        color:black;
        font-size: 70px;
    }
    
    p{
        color:black;
        font-size: 25px;
        line-height: 30px;
    }

    nav {
        text-align: right;
        flex: 1;
        
    }

    .container{
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        padding-left: 4%;
        padding-right: 4%;
        box-sizing: border-box;
    }
}
    

    @media screen and (max-width:790px) {
    
        h5{
            font-size: 18px;
        }
    
        .card p{
            text-shadow: 0 0 15px white;
            font-size: 13px;
            line-height: 13px;
            }
        
        .card{
            width: 330px;
            height: 170px;
        }
    
        h1{
            color:black;
            font-size: 60px;
        }
        
        p{
            color:black;
            font-size: 24px;
            line-height: 24px;
        }
    
        nav {
            text-align: right;
            flex: 1;
            
        }
    
        .container{
            width: 100%;
            height: 100vh;
            background-color: rgb(255, 255, 255);
            padding-left: 8%;
            padding-right: 8%;
            box-sizing: border-box;
        }

        nav ul li{
            margin-left: 20px;
            display: grid;
        }

        nav ul li a:hover{
            text-decoration: underline 0.15em rgb(46, 46, 46);
            text-underline-offset: 0.05em;
        }

        .col{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .col-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }

        .row{
            display: flex;
            flex-direction: column;
        }

        button{
            margin-bottom: 20px;
            margin-top: 30px;
            position: relative;
        }
    }
    @media screen and (max-height:1405px) {
    
        h5{
            font-size: 17px;
        }
    
        .card p{
            text-shadow: 0 0 15px white;
            font-size: 13px;
            line-height: 13px;
            }
        
        .col-cards{
            margin-left: 90px
        }
    
        .card{
            width: 330px;
            height: 170px;     
            margin: 12px 8px;   
        }
    
        h1{
            color:black;
            font-size: 70px;
        }
        
        p{
            color:black;
            font-size: 25px;
            line-height: 30px;
        }
    
        nav {
            text-align: right;
            flex: 1;
            
        }
    
        .container{
            width: 100%;
            height: 100vh;
            background-color: rgb(255, 255, 255);
            padding-left: 4%;
            padding-right: 4%;
            box-sizing: border-box;
        }
    }
        
    
        @media screen and (max-height:900px) {
        
            h5{
                font-size: 18px;
            }
        
            .card p{
                text-shadow: 0 0 15px white;
                font-size: 13px;
                line-height: 13px;
                }
            
            .card{
                width: 330px;
                height: 170px;
            }
        
            h1{
                color:black;
                font-size: 60px;
            }
            
            p{
                color:black;
                font-size: 24px;
                line-height: 24px;
            }
        
            nav {
                text-align: right;
                flex: 1;
                
            }
        
            .container{
                width: 100%;
                height: 100vh;
                background-color: rgb(255, 255, 255);
                padding-left: 8%;
                padding-right: 8%;
                box-sizing: border-box;
            }
    
            nav ul li{
                margin-left: 20px;
                display: grid;
            }
    
            nav ul li a:hover{
                text-decoration: underline 0.15em rgb(46, 46, 46);
                text-underline-offset: 0.05em;
            }
    
            .col{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
    
            .col-cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
            }
    
            .row{
                display: flex;
                flex-direction: column;
            }
    
            button{
                margin-bottom: 20px;
                margin-top: 30px;
                position: relative;
            }
        }
